<h1> Appio TwitterBook Module </h1>

<h2> Description </h2>

<p>Twitterbook module allows users to post on Facebook, Twitter and Sina Weibo using the native integration on iOS (iPhone and iPad). <br>
You can post text, urls and images (just one image on twitter but many on facebook). </p>
<h3> About Versions </h3>

<p>iOS 6 at least is needed for Facebook and Sina Weibo, and at least iOS 5 for Twitter. If the module is used in a device with an older version, obviously it will not work but
it WILL NOT CRASH, since it is designed to be backward compatible. <br><br></p>
<p>Minimum iOS version: 4.0 <br>
Minimum Titanium SDK: 3.1.0GA</p>
<p><br> <br><h2> Installation </h2></p>
<p>Check <a href='http://wiki.appcelerator.org/display/tis/Using+Titanium+Modules'>http://wiki.appcelerator.org/display/tis/Using+Titanium+Modules</a></p>
<p><br> <br><h2> Accessing the twitterbook Module </h2></p>
<p>To access this module from JavaScript, you would do the following:
<pre><code>
var twitterbook = require("es.appio.twitterbook");</p>
<p>The twitterbook variable is a reference to the Module object. <br />
</code></pre>
 <br> 
<br> <br><h2> Reference </h2></p>
<p>There are just 4 functions, 3 to check the availability of Facebook / Twitter / Sina Weibo and 1 (just 1) to post
 <br><br><br>
<h3> twitterbook.isFacebookAvailable() </h3>
<p>
This function is used to check the availability to post on Facebook on the device. The result is a STRING with 3 possible values:
 <ul>
 <li> "available": everything is OK, you can post </li>
 <li> "notLogged": the device has the capacity to post, but the user is not logged. Don't worry if you try to post in this
                case, a popup will alert the user to log in. </li>
 <li> "notAvailable": the device has not this capability, because of the iOS version. For instance, this would be the result 
                of isFacebookAvailable on iOS 5. </li>
</ul>
Note: if you try to post and the availability is "notAvailable" you will receive an error telling you that is not available, 
so you can check that error instead of using this avaibality methods.</p>
</p>

<p><br><br>
<h3> twitterbook.isTwitterAvailable() </h3></p>
<p>Exactly the same as isFacebookAvaible, but for Twitter. <br><br></p>
<h3> twitterbook.isSinaWeiboAvailable() </h3>

<p>Exactly the same as isFacebookAvaible, but for Sina Weibo.</p>
<p><br><br><br>
<h3> twitterbook.post(/<em>json Object</em>/ params) </h3></p>
<p>
This is the function used to post. The param 'type' indicates the target ('facebook' / 'twitter' / 'sinaweibo').
It receives the following parameters:
<ul>
 <li> type (required): string indicating the target, 'facebook', 'twitter' or 'sinaweibo' </li>
 <li> message (optional): string with the message to post </li>
 <li> urls (optional): an ARRAY with the urls to post. If you don't want urls to be post, pass an empty array </li>
 <li> images (optional): an ARRAY with the images to post. The images can be a BLOB or a image file contained in the app (indicating the file path to the image). <br> 
    Note that in twitter just 1 photo is allowed, but an ARRAY must be passed. If you don't want images to be post, pass an empty array</li>
</ul>
</p>
<p>
Also, you can pass 3 different callbacks:
<ul>
 <li> success: indicates that the post has been successfully done </li>
 <li> cancel: the user has cancelled the action </li>
 <li> error: it has been an error. 2 important properties received with the events are error and error_description. 
 Possible errors are </li>
    <ul>
    <li> you are passing a wrong type param </li>
    <li> the device has not the capability to post, because of the user is not logged or because of the iOS version
    (use isFacebookAvailable / isTwitterAvailable / isSinaWeiboAvailable to check it). </li>
    </ul>
</ul>
</p>

<p><br>
<br> <br><h2> Usage </h2></p>
<p>You can find also this example in example.js. </p>
<pre><code>
// Create a Window with 3 buttons to:
// - Check the availability of Facebook / Twitter
// - Post on Facebook
// - Post on Twitter
// - Post on Sina Weibo

// Require the module and check if it was successfully loaded
var twitterbook = require('es.appio.twitterbook');
Ti.API.info("Module Loaded => " + twitterbook);

var win = Ti.UI.createWindow({
    backgroundColor : 'white',
    layout : 'vertical'
});

// isFacebookAvailable / isTwitterAvailable functions tell us whether they are available or not. 
// The result is a STRING with 3 possible status:
// - "available": everything is OK, you can post
// - "notLogged": the device has the capacity to post, but the user is not logged. DON'T WORRY if you try to post in this
// case, a popup will alert the user to log in.
// - "notAvailable": the device has not this capacity, because of the iOS version. For instance, this would be the result 
// of isFacebookAvailable on iOS 5.

// Note: if you try to post and the availability is "notAvailable" you will receive an error telling you that is not available, 
// so you can check that error instead of using this avaibality methods.
var btnAvailable = Ti.UI.createButton({
    title : 'Check Availability'
});
btnAvailable.addEventListener('click', function() {

alert("Facebook availability: " + twitterbook.isFacebookAvailable());
    alert("Twitter availability: "  + twitterbook.isTwitterAvailable());
    alert("Sina Weibo availability: "   + twitterbook.isSinaWeiboAvailable());

})
win.add(btnAvailable);

// Post on Facebook
var btnFacebook = Ti.UI.createButton({
    title : 'Facebook'
});
// We post a message, 2 URL and 3 photos (facebook allows to post more than 1 photo). The third photo is a BLOB. Yes, you can post both BLOBs and file images
// We pass it the callbacks for success, cancel and error
btnFacebook.addEventListener('click', function() {

var imageBlobWin = win.toImage();

twitterbook.post({
        type : 'facebook',
        message : 'Appio Rocks ;)',
        urls : ['http://www.appio.es', 'https://twitter.com/appio_spain'],// Note: This is ALWAYS an ARRAY
        images : ['logo_twitterbook.png', 'logo_appio.png', imageBlobWin],// Note: This is ALWAYS an ARRAY
        success : function() {
            alert("Post successfully");
        },
        cancel : function() {
            alert("The user has canceled the post");
        },
        error : function(e) {
            alert("There is an error: ");
            alert(e);
        }
    });
})
win.add(btnFacebook);

// Twitter
var btnTwitter = Ti.UI.createButton({
    title : 'Twitter'
});
// We post a message, 2 URL and 1 photo (Twitter allows to post just 1 photo). In this case the image is a file (a path to a file) but it could be also a BLOB 
// We pass it the callbacks for success, cancel and error
btnTwitter.addEventListener('click', function() {
    twitterbook.post({
        type : 'twitter',
        message : 'Appio Rocks ;)',
        urls : ['http://www.appio.es', 'https://twitter.com/appio_spain'],// Note: This is ALWAYS an ARRAY
        images : ['logo_appio.png'],// Note: This is ALWAYS an ARRAY
        success : function() {
            alert("Post successfully");
        },
        cancel : function() {
            alert("The user has canceled the post");
        },
        error : function(e) {
            alert("There is an error: ");
            alert(e);
        }
    });
})
win.add(btnTwitter);

// Sina Weibo
var btnSina = Ti.UI.createButton({
    title : 'Sina Weibo',
    backgroundImage: 'btn.png',
    top: "3%",
    height: 54,
    width: 245
});
// We post a message, 2 URL and 1 photo (Sina Weibo allows to post just 1 photo). In this case the image is a file (a path to a file) but it could be also a BLOB 
// We pass it the callbacks for success, cancel and error
btnSina.addEventListener('click', function() {

var imageBlobWin = win.toImage();

twitterbook.post({
        type : 'sinaweibo', // (required)
        message : 'Made by Appio', // (optional) 
        urls : ['http://www.appio.es', 'https://twitter.com/appio_spain'],// (optional) Note: This is ALWAYS an ARRAY
        images : ['logo_appio.png'], // (optional) Note: This is ALWAYS an ARRAY
        success : function() {
            alert("Post successfully");
        },
        cancel : function() {
            alert("The user has canceled the post");
        },
        error : function(e) {
            alert("There is an error: ");
            alert(e);
        }
    });
})
win.add(btnSina);

win.open();

</code></pre>

<p><br> <br><h2> Author </h2></p>
<pre><code>Appio Company &lt;br&gt; &lt;br&gt;
</code></pre>
<p>site:       www.appio.es <br>
email:      developer@appio.es <br>
twitter:    @appio_spain <br></p>
<p><br> <br><h2> License </h2></p>
<p>Copyright(c) 2012 by Appio, Inc. All Rights Reserved</p>